<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOVIES APP</title>
    
    <!-- import bootstrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <!-- import box icon-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg " style="background-color: #1e588f">
        <div class="container-fluid" >
          <a class="navbar-brand" href="index"><i class='bx bx-movie-play'></i>Movies TOC</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="add"><i class='bx bx-add-to-queue' style="font-size: 20px"></i>Add movie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="fav"><i class='bx bx-list-check' style="font-size: 20px"></i>Get Favorites</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container" style="overflow-y: scroll; padding-bottom: 8%;">
        <br>
        <table class="table table-bordered table-striped text-center mt-3">
            <thead>
                <tr class="bg-primary text-white">
                    <th scope="col">ID</th>
                    <th scope="col">MOVIE</th>
                    <th scope="col">YEAR</th>
                    <th scope="col">DIRECTOR</th>
                    <th scope="col">DURATION</th>
                    <th scope="col">GENRE</th>
                    <th scope="col">LANGUAGE</th>
                    <th scope="col">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((movies)=> { %>
                    <tr>
                        <td><%= movies.movie_id %></td>
                        <td><%= movies.movie_name %></td>
                        <td><%= movies.movie_year %></td>
                        <td><%= movies.movie_director %></td>
                        <td><%= movies.movie_duration %></td>
                        <td><%= movies.movie_genre %></td>
                        <td><%= movies.movie_language %></td>
                        <td>
                            <a href="update/<%= movies.movie_id %>" class="btn btn-outline-info">Update</a>
                            <a href="/delete/<%= movies.movie_id %>" class="btn btn-outline-danger">Delete</a>
                            <a href="addFavorite/<%= movies.movie_id%>" class="btn btn-outline-success">Add Favorite</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
  <footer style="position: fixed; bottom: 0; width: 100%; height:8%; background-color: #1e588f; color: white; text-align: center;">
    <div>Developed by Juan David Saraza</div>
    <div>2023</div>
</footer>
</html>
